.dropDownSection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%
}

.dropDownSectionAbout{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    width: 60%;
}


.dropDown{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 31px;
}

.dropDownHeader {
    background-color: $color-1;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;
    padding: 5px 10px;
}

.dropDownTitle {
    color: white;
    font-family: $font-1;
}

.dropDownContent {
    font-family: $font-1;
    color: $color-1;
    padding: 15px;
    background-color: #F7F7F7;
    margin-top: -5px;
    border-radius: 10px;
    padding: 25px;
    z-index: -100;
}
.dropDownContent__hidden {
    display: none;
}

.FaChevronDown-arrow {
    font-size: larger;
    color: #fff;
}

