  .dropDownSmall-item {
    display: flex;
    flex-direction: column;
    width: 582px;
    min-width: 335px;
    height: 52px;
    list-style: none;
    .dropDownSmall-toggle {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-family: $font-1;
      font-size: 18px;
      color: #fff;
      background-color: $color-1;
      border-radius: 10px;
      padding: 1em;
    }
    .dropDownSmall-toggle:hover {
      background-color: $color-1;
  }
    .dropDownSmall-toggle h3 {
      margin: 0;
    }
    .dropDownSmall-content {
      // background-color: #F6F6F6;
      background-color: #9c9c9c;
      padding: 1em;
      border-radius: 10px;
  }
  }

.chevron_down_solid {
    width: 30PX;
}
.chevron_up_solid {
    width: 30PX;
}