.accomodation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
}

.infoSection {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    max-width: 1240px;
    min-width: 380px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (max-width: 425px) {
        flex-wrap: wrap;
        flex-direction: column;
      }    
}


.infoSectionLocationLeft{
    display: flex;
flex-direction: column;
width: 100%;
}

.infoSectionLocation {
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: $font-1;
    color: $color-1;
    font-weight: 500;
    font-size: 18px;
}

.infoSectionTitle {
    font-family: $font-1;
    color: $color-1;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 0px;
    @media screen and (max-width: 425px) {
        font-size: 18px;
      }
}

.infoSectionSubTitle {
    margin-top: -5px;
    @media screen and (max-width: 425px) {
        font-size: 14px;
      }
}

.hostDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hostName{
    text-align: end;
    padding: 13px;
    font-family: $font-1;
    color: $color-1;
    font-size: 18px;
    @media screen and (max-width: 425px) {
        font-size: 12px;
        width: 62%;
      }
}

.hostPicture {
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

.infoSectionData {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.infoSectionDetails {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

    /* & .accordion {
        width: 45%;
    } */
}