.accomodation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
}

.infoSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px;
    margin: auto;
}

.infoSectionLocation {
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: $font-1;
    color: $color-1;
    font-weight: 500;
    font-size: 18px;
}

.infoSectionTitle {
    font-family: $font-1;
    color: $color-1;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 0px;
    .span{
        margin-top: -5px;
    }
}

.hostDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
}

.hostName{
    text-align: end;
    padding: 13px;
    font-family: $font-1;
    color: $color-1;
    font-size: 18px;
}

.hostPicture {
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

.infoSectionData {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.infoSectionDetails {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;

    /* & .accordion {
        width: 45%;
    } */
}