.sectionTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
  width: 1240px;
  min-width: 320px;
  height: 223px;
  border-radius: 25px;
  background-color: $color-1;
  img {
    margin: auto;
    object-fit: cover;
    border-radius: 25px;
  }
  h1 {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    color: white;
    text-align: center;
    font-family: $font-1;
    font-size: 48px;
  }
}
