.slider{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    height: 415px;
    border-radius: 25px;
    background-color: $color-1;
    .chevron_left_solid {
        z-index: 999;
        width: 46.68px;
        height: 46.68px;
        padding-left: 20px;
    }
    .chevron_right_solid {
        z-index: 999;
        width: 46.68px;
        height: 46.68px;
        padding-right: 20px;
    }
}

