.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    max-width: 1240px;
    max-height: 415px;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    img{
        display: inherit;
        width: 100%;
    }

    .FaChevronLeft {
        position: absolute;
        top: 42%;
        left: 2vw;
        font-size: xxx-large;
        color: $color-2;
        z-index: 10;
        cursor: pointer;
      }
      .FaChevronRight {
        position: absolute;
        top: 42%;
        right: 2vw;
        font-size: xxx-large;
        color: $color-2;
        z-index: 10;
        cursor: pointer;
      }

    // &-button {
    //         display: flex;
    //         justify-content: space-around;
    //     background: none;
    //     border: none;
    //     position: absolute;
    //     cursor: pointer;
    //     &.next {
    // right: 40px;
    // font-size: xxx-large;
    // color: $color-2;
    //     }
    //     &.previous {
    // left: 40px;
    // font-size: xxx-large;
    // color: $color-2;
    //     }
    // }
}

.slider-picture {
    /* animation: sliderFadeIn .8s ease-in-out; */
    object-fit: cover;
    animation: sliderFadeIn .20s ease-in-out;
}

.slider-counter {
    position: absolute;
    font-family: $font-1;
    font-size: 18px;
    bottom: 25px;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 700;
}

.FaChevronLeftRight{
    z-index: 10;
    color: $color-1;
}
@keyframes sliderFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
