.tagsRatingsSection{
    display: flex;
    flex-direction: column;
    align-items: flex-end;


    @media screen and (max-width: 425px) {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
    margin-bottom: 20px;

      }
}

.tag{
    display: flex;
    margin-bottom: 20px;
}

.tags{
    display: flex;
    height: 25px;
    align-items: center;
    justify-content: center;
    font-family: $font-1;
    font-size: 14px;
    color: #fff;
    background-color: $color-1;
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px;
    @media screen and (max-width: 425px) {
        font-size: 10px;
      }
}

.rating{
    display: flex;
flex-direction: row;
margin-bottom: 20px;
img{
    width: 30px;
    height: 30px;
    @media screen and (max-width: 425px) {
        width: 15px;
        height: 15px;
      }
}
}


