.tag{
    display: flex;
    width: 115px;
    height: 25px;
    align-items: center;
    justify-content: center;
    font-family: $font-1;
    font-size: 7px;
    color: #fff;
    background-color: $color-1;
    border-radius: 10px;
}