.thumb {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  position: relative;
  height: 340px;
  max-width: 340px;
  border-radius: 10px;
  // background-color: #ff6060;
  flex-direction: column;
  font-family: $font-1;
  font-size: 10px;
  @media screen and (min-width 426px) and (max-width 815px) {
    height: 316px;
    width: 316px;
  }
  @media screen and (max-width: 425px) {
    height: 255px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  img {
    height: 340px;
    // width: 340px;
    max-width: 340px;
    // height: auto;
    object-fit: cover;
    border-radius: 10px;
    @media screen and (max-width: 425px) {
      height: 255px;
    }
    @media screen and (min-width 426px) and (max-width 815px) {
      height: 255px;
      width: 316px;
    }
  }
  h1 {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    color: #ffff;
    font-size: 18px;
    text-align: left;
    margin-top: 280px;
    margin-left: 20px;
    margin-right: 20px;
    @media screen and (max-width: 425px) {
      margin-top: 190px;
      margin-left: 20px;
      margin-right: 20px;
        }
  }
}
